@page "{UserID}"
@model EventManagementSystem.Pages.Users.EditUsersModel
@{
    ViewData["Title"] = "Edit User";
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font centertxt">Edit User Data</h2>
        <br />
        <hr />
        <br />
        <p class="notetxt">NOTE: The "Password" field must be left blank if no password change is desired. Otherwise, enter a password, and it will be encrypted.</p>
        <p class="notetxt">NOTE: The "RoleType" field must be left blank if no role change is desired. Otherwise, select a role for this user.</p>
        <br />
        <div class="newlogbox centertxt">
            <form asp-page="EditUsers">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="@Model.UserToUpdate.UserID" />
                        <label asp-for="@Model.UserToUpdate.FirstName">- First Name -</label>
                        <input type="text" class="newlogfield" asp-for="@Model.UserToUpdate.FirstName" required />
                        <br />
                        <label asp-for="@Model.UserToUpdate.LastName">- Last Name -</label>
                        <input type="text" class="newlogfield" asp-for="@Model.UserToUpdate.LastName" required />
                        <br />
                        <label asp-for="@Model.UserToUpdate.Username">- Username -</label>
                        <input type="text" class="newlogfield" asp-for="@Model.UserToUpdate.Username" required />
                        <br />
                        <label asp-for="@Model.UserToUpdate.UserPassword">- Password -</label>
                        <input type="text" class="newlogfield" asp-for="@Model.UserToUpdate.UserPassword" />
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.UserToUpdate.Email">- Email -</label>
                        <input type="text" class="newlogfield" asp-for="@Model.UserToUpdate.Email" />
                        <br />
                        <label asp-for="@Model.UserToUpdate.PhoneNumber">- Phone -</label>
                        <input type="text" class="newlogfield" asp-for="@Model.UserToUpdate.PhoneNumber" />
                        <br />
                        <label asp-for="@Model.UserToUpdate.AllergyID">- Allergies -</label>
                        <select asp-for="@Model.UserToUpdate.AllergyID" class="newlogfield" asp-items="Model.Allergies">
                            <option value=""></option>
                        </select>
                        <br />
                        <label asp-for="@Model.UserToUpdate.RoleType">- Role -</label>
                        <select asp-for="@Model.UserToUpdate.RoleType" class="newlogfield" asp-items="Model.Roles">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Submit" class="btn rndbtn2 btn-dark" asp-page="EditUsers" />
                    <a asp-page="Index" class="btn rndbtn2 btn-dark">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>