@page
@model EventManagementSystem.Pages.Users.NewUserModel
@{
    ViewData["Title"] = "New User";
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font centertxt">Enter New User Data</h2>
        <br />
        <hr />
        <br />
        <div class="newlogbox">
            <form asp-page="NewUser">
                <input type="hidden" asp-for="@Model.UserToCreate.UserID" />
                <label asp-for="@Model.UserToCreate.FirstName">- First Name -</label>
                <input type="text" asp-for="@Model.UserToCreate.FirstName" id="FirstName" class="newlogfield" required />
                <br />
                <label asp-for="@Model.UserToCreate.LastName">- Last Name -</label>
                <input type="text" asp-for="@Model.UserToCreate.LastName" id="LastName" class="newlogfield" required />
                <br />
                <label asp-for="@Model.UserToCreate.Username">- Username -</label>
                <input type="text" asp-for="@Model.UserToCreate.Username" id="Username" class="newlogfield" required />
                <br />
                <label asp-for="@Model.UserToCreate.UserPassword">- Password -</label>
                <input type="password" asp-for="@Model.UserToCreate.UserPassword" id="Password" class="newlogfield" required />
                <br />
                <label asp-for="@Model.UserToCreate.Email">- Email -</label>
                <input type="text" asp-for="@Model.UserToCreate.Email" id="Email" class="newlogfield" />
                <br />
                <label asp-for="@Model.UserToCreate.PhoneNumber">- Phone -</label>
                <input type="text" asp-for="@Model.UserToCreate.PhoneNumber" id="PhoneNumber" class="newlogfield" />
                <br />
                <label asp-for="@Model.UserToCreate.AllergyID">- Relevant Allergies -</label>
                <br />
                <select asp-for="@Model.UserToCreate.AllergyID" class="newlogfield" asp-items="Model.Allergies">
                    <option value=""></option>
                </select>
                <br />
                <label asp-for="@Model.UserToCreate.Accomodation">- Accommodations -</label>
                <input type="text" asp-for="@Model.UserToCreate.Accomodation" id="Accessibility" class="newlogfield" />
                <br />
                <label asp-for="@Model.UserToCreate.RoleType">- Role -</label>
                <br />
                <select asp-for="@Model.UserToCreate.RoleType" class="newlogfield" asp-items="Model.Roles">
                    <option value=""></option>
                </select>
                <br />
                <br />
                <button type="button" onclick="populateForm()" class="btn rndbtn btn-dark">Populate</button>
                <button type="button" onclick="clearForm()" class="btn rndbtn btn-dark">Clear</button>
                <input type="submit" value="Submit" class="btn rndbtn btn-dark" asp-page="NewUser" />
                <a asp-page="Index" class="btn rndbtn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm()
    {
        document.getElementById("FirstName").value = "Joe";
        document.getElementById("LastName").value = "White";
        document.getElementById("Email").value = "JoeWhite032@gmail.com";
        document.getElementById("PhoneNumber").value = "804-784-8663";
        document.getElementById("Username").value = "username123";
        document.getElementById("Password").value = "Password321";
        document.getElementById("AllergyNote").value = "Pollen";
        document.getElementById("Accessibility").value = "Wheelchair access";
        document.getElementById("RoleType").value = "Participant";
    }
    
    function clearForm()
    {
        document.getElementById("FirstName").value = "";
        document.getElementById("LastName").value = "";
        document.getElementById("Email").value = "";
        document.getElementById("PhoneNumber").value = "";
        document.getElementById("Username").value = "";
        document.getElementById("Password").value = "";
        document.getElementById("AllergyNote").value = "";
        document.getElementById("Accessibility").value = "";
        document.getElementById("RoleType").value = "";
    }
</script>
