@page
@model EventManagementSystem.Pages.Users.NewUserModel
@{
    ViewData["Title"] = "New User";
}

<!-- This code was designed and implemented by Steven Roenker and Devin Vicchio -->

<form asp-page="NewUser">
    <input type="hidden" asp-for="@Model.UserToCreate.UserID" />
    <label asp-for="@Model.UserToCreate.FirstName"></label>
    <input type="text" asp-for="@Model.UserToCreate.FirstName" id="FirstName" required/>
    <br />
    <label asp-for="@Model.UserToCreate.LastName"></label>
    <input type="text" asp-for="@Model.UserToCreate.LastName" id="LastName" required />
    <br />
    <label asp-for="@Model.UserToCreate.Username"></label>
    <input type="text" asp-for="@Model.UserToCreate.Username" id="Username" required />
    <br />
    <label asp-for="@Model.UserToCreate.Password"></label>
    <input type="text" asp-for="@Model.UserToCreate.Password" id="Password" required />
    <br />
    <label asp-for="@Model.UserToCreate.Email"></label>
    <input type="text" asp-for="@Model.UserToCreate.Email" id="Email" />
    <br />
    <label asp-for="@Model.UserToCreate.PhoneNumber"></label>
    <input type="text" asp-for="@Model.UserToCreate.PhoneNumber" id="PhoneNumber" />
    <br />
    <label asp-for="@Model.UserToCreate.IsAttendee"></label>
    <input type="text" asp-for="@Model.UserToCreate.IsAttendee" id="IsAttendee" required />
    <br />
    <label asp-for="@Model.UserToCreate.IsPresenter"></label>
    <input type="text" asp-for="@Model.UserToCreate.IsPresenter" id="IsPresenter" required />
    <br />
    <label asp-for="@Model.UserToCreate.IsAdmin"></label>
    <input type="text" asp-for="@Model.UserToCreate.IsAdmin" id="IsAdmin" required />
    <br /><br />
    <button type="button" onclick="populateForm()">Populate</button>
    &emsp; <!-- Tab character to separate populate and clear buttons -->
    <button type="button" onclick="clearForm()">Clear</button>
    <br /><br />
    <input type="submit" class="btn btn-success" asp-page="NewUser" />
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>

<br />
<br />
<br />
<br />

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm()
    {
        document.getElementById("FirstName").value = "Joe";
        document.getElementById("LastName").value = "White";
        document.getElementById("Username").value = "username123";
        document.getElementById("Password").value = "Password321";
        document.getElementById("Email").value = "JoeWhite032@gmail.com";
        document.getElementById("PhoneNumber").value = "804-784-8663";
        document.getElementById("IsAttendee").value = "False";
        document.getElementById("IsPresenter").value = "True";
        document.getElementById("IsAdmin").value = "False";
    }
    
    function clearForm()
    {
        document.getElementById("FirstName").value = "";
        document.getElementById("LastName").value = "";
        document.getElementById("Username").value = "";
        document.getElementById("Password").value = "";
        document.getElementById("Email").value = "";
        document.getElementById("PhoneNumber").value = "";
        document.getElementById("IsAttendee").value = "";
        document.getElementById("IsPresenter").value = "";
        document.getElementById("IsAdmin").value = "";
    }
</script>
