@page "{UserID}"
@model EventManagementSystem.Pages.Users.UserScheduleModel
@{
}

<h2>@Model.UserName's Schedule</h2>

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Event Name:</th>
            <th>Activity Name:</th>
            <th>Date:</th>
            <th>Building:</th>
            <th>Room Number:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var association in Model.UserAssociations)
            {
                <tr>
                    <td>@association.EventName</td>
                    <td>@association.ActivityName</td>
                    <td>@association.Date</td>
                    <td>@association.BuildingName</td>
                    <td>@association.RoomNumber</td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="UserAssociations" class="btn btn-secondary">Back</a>
