@page
@model EventManagementSystem.Pages.Teams.NewTeamModel
@{
    ViewData["Title"] = "New Team";
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font centertxt">Edit Team Data</h2>
        <br />
        <hr />
        <br />
        <div class="newlogbox">
            <form asp-page="EditTeam">
                <input type="hidden" asp-for="@Model.TeamToCreate.TeamID" />
                <label asp-for="@Model.TeamToCreate.Name">- Team Name -</label>
                <br />
                <input type="text" class="newlogfield" id="TeamName" asp-for="@Model.TeamToCreate.Name" required />
                <br />
                <label asp-for="@Model.TeamToCreate.Description">- Description -</label>
                <br />
                <input type="text" class="newlogfield" id="TeamDescription" asp-for="@Model.TeamToCreate.Description" />
                <br />
                <label asp-for="@Model.TeamToCreate.MaxSize">- Max Size -</label>
                <input type="text" class="newlogfield" id="TeamSize" asp-for="@Model.TeamToCreate.MaxSize" />
                <br />
                <br />
                <button type="button" onclick="populateForm()" class="btn rndbtn btn-dark">Populate</button>
                <button type="button" onclick="clearForm()" class="btn rndbtn btn-dark">Clear</button>
                <input type="submit" value="Submit" class="btn rndbtn btn-dark" asp-page="NewTeam" />
                <a asp-page="Index" class="btn rndbtn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("TeamName").value = "Test Team Name";
        document.getElementById("TeamDescription").value = "Test Description";
        document.getElementById("TeamSize").value = "6";
    }

    function clearForm() {
        document.getElementById("TeamName").value = "";
        document.getElementById("TeamDescription").value = "";
        document.getElementById("TeamSize").value = "";
    }
</script>