@page
@model EventManagementSystem.Pages.Organizer.AssignRoleSelectUserModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font">Select Participant to Assign Role at @HttpContext.Session.GetString("eventname")</h2>
        <br />
        <form method="post" asp-page="/Organizer/ParticipantList">
            <input type="text" class="searchbar" asp-for="InputString" placeholder="Search Users" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
           <button type="submit" class="btn srchbtn btn-dark">Search</button>
        </form>
        <br />
        <div class="shdwbox">
            <div class="table-responsive card">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Role:</th>
                            <th>Date Registered:</th>
                            <th>Remove User:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr class="table-secondary">
                                <td><b>@user.FirstName</b></td>
                                <td>@user.RoleType</td>
                                <td>@user.RegistrationDate.ToString("MM/dd/yyyy")</td>
                                <td>
                                    <a asp-page="AssignRole" class="btn rndbtn btn-dark" asp-route-userid="@user.UserID" asp-route-eventid="@user.EventID">Assign</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <a asp-page="/Organizer/Index" class="btn rndbtn btn-dark">Return</a>
    </div>
</div>