@page
@model EventManagementSystem.Pages.Organizer.CreateEventModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox blktxt">
        <h2 class="font centertxt">Please Enter Your Information</h2>
        <br />
        <hr />
        <br />
        <p class="notetxt">
            NOTE: All newly created events must be approved by the system admin for further activity creation
        </p>
        <br />
        <div class="newlogbox">
            <form asp-page="NewUser">
                <input type="hidden" asp-for="@Model.EventToCreate.EventID" />
                <label asp-for="@Model.EventToCreate.EventName">- Event Name -</label>
                <input type="text" asp-for="@Model.EventToCreate.EventName" id="EventName" class="newlogfield" required />
                <br />
                <label asp-for="@Model.EventToCreate.EventDescription">- Event Description -</label>
                <input type="text" asp-for="@Model.EventToCreate.EventDescription" id="EventDescription" class="newlogfield" required />
                <br />
                <label asp-for="@Model.EventToCreate.StartDate">- Start Date -</label>
                <input type="datetime-local" asp-for="@Model.EventToCreate.StartDate" id="StartDate" class="newlogfield" required />
                <br />
                <label asp-for="@Model.EventToCreate.EndDate">- End Date -</label>
                <input type="datetime-local" asp-for="@Model.EventToCreate.EndDate" id="EndDate" class="newlogfield" required />
                <br />
                <label asp-for="@Model.EventToCreate.RegistrationDeadline">- Registration Deadline -</label>
                <input type="datetime-local" asp-for="@Model.EventToCreate.RegistrationDeadline" id="RegistrationDeadline" class="newlogfield" />
                <br />
                <label asp-for="@Model.EventToCreate.Capacity">- Capacity -</label>
                <input type="text" asp-for="@Model.EventToCreate.Capacity" id="Capacity" class="newlogfield" />
                <br />
                <label asp-for="@Model.EventToCreate.EventType">-  Event Type -</label>
                <select asp-for="@Model.EventToCreate.EventType" class="newlogfield" id="EventType" asp-items="Model.EventType">
                    <option value=""></option>
                </select>
                <br />
                <label asp-for="@Model.SpaceToCreate.Name">- Location Name -</label>
                <input type="text" asp-for="@Model.SpaceToCreate.Name" id="SpaceName" class="newlogfield" />
                <br />
                <label asp-for="@Model.SpaceToCreate.Address">- Location Address -</label>
                <input type="text" asp-for="@Model.SpaceToCreate.Address" id="SpaceAddress" class="newlogfield" />
                <br />
                <label asp-for="@Model.SpaceToCreate.Capacity">- Location Capacity -</label>
                <input type="text" asp-for="@Model.SpaceToCreate.Capacity" id="SpaceCapacity" class="newlogfield" />
                <br />
                <label asp-for="@Model.LocationToCreate.City">- City -</label>
                <input type="text" asp-for="@Model.LocationToCreate.City" id="City" class="newlogfield" />
                <br />
                <label asp-for="@Model.LocationToCreate.State">- State -</label>
                <input type="text" asp-for="@Model.LocationToCreate.State" id="State" class="newlogfield" />
                <br /><br />
                <button type="button" onclick="populateForm()" class="btn rndbtn btn-dark">Populate</button>
                <button type="button" class="btn rndbtn btn-dark" onclick="clearForm()">Clear</button>
                <input value="Create Event" type="submit" class="btn rndbtn btn-dark" id="textfield" asp-page="Organizer/Index" />
                <a asp-page="/Organizer/Index" class="btn rndbtn btn-dark" id="textfield">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("EventName").value = "Test Event";
        document.getElementById("EventDescription").value = "Test Event Description";
        // Format dates according to datetime-local format (YYYY-MM-DDTHH:mm)
        document.getElementById("StartDate").value = "2023-12-20T00:00";
        document.getElementById("EndDate").value = "2023-12-25T00:00";
        document.getElementById("RegistrationDeadline").value = "2023-12-19T00:00";
        document.getElementById("Capacity").value = "50";
        document.getElementById("EventType").value = "Dinner";
        document.getElementById("SpaceName").value = "Test Space";
        document.getElementById("SpaceAddress").value = "123 Test Space Lane";
        document.getElementById("SpaceCapacity").value = "400";
        document.getElementById("City").value = "Harrisonburg";
        document.getElementById("State").value = "Virginia";
    }

    function clearForm() {
        document.getElementById("EventName").value = "";
        document.getElementById("EventDescription").value = "";
        document.getElementById("StartDate").value = "";
        document.getElementById("EndDate").value = "";
        document.getElementById("RegistrationDeadline").value = "";
        document.getElementById("Capacity").value = "";
        document.getElementById("EventType").value = "";
        document.getElementById("SpaceName").value = "";
        document.getElementById("SpaceAddress").value = "";
        document.getElementById("SpaceCapacity").value = "";
        document.getElementById("City").value = "";
        document.getElementById("State").value = "";
    }
</script>