@page
@model EventManagementSystem.Pages.Organizer.EditEventModel
@{
}

<div class="wrapper">
    <br/>
    <div class="whitebox purpletxt">
        @{
            foreach (var e in Model.Events)
            {
                <br />
                <br />
                <h1 class="font centertxt bigtxt">@e.EventName</h1>
                <p class="centertxt">@e.StartDate.ToString("MM/dd/yyyy") - @e.EndDate.ToString("MM/dd/yyyy")</p>
                <p class="font centertxt">@e.SpaceName</p>
                <br />
                <div class="centertxt">
                    <a asp-page="/Organizer/ModifyEvent" class=" btn rndbtn btn-dark" asp-route-eventid="@e.EventID"> Modify Event</a>
                    <a asp-page="/Organizer/DeactivateEvent" class=" btn rndbtn btn-warning" asp-route-eventid="@e.EventID"> Deactivate Event</a>
                    <a asp-page="/Organizer/ViewEvent" class=" btn rndbtn btn-dark" asp-route-eventid="@e.EventID"> Finish Editing</a>
                </div>
                <br />
                <hr />
                <br />
                <div class="shdwbox">
                    <p class="centertxt">@e.EventDescription</p>
                </div>
                <br />
                <hr />
                <br />
                <h2 class="font centertxt">Subevents</h2>
                <br />
                <div class="row">
                    @foreach (var s in Model.Subevents)
                    {
                        <div class="col-md-4">
                            <div class="shdwbox subsubcontainer">
                                <p class="font centertxt">@s.EventName</p>
                                <a asp-page="/Organizer/ModifySubevent" class=" btn widebutton-flex btn-dark" asp-route-tempeventid="@s.EventID">Edit</a>
                            </div>
                        </div>
                    }
                </div>
                <br/>
                <a asp-page="/Organizer/AddSubevent" class=" btn rndbtn btn-dark" asp-route-eventid="@e.EventID">Add Subevent</a>
            }
        }
    </div>
</div>