@page
@model EventManagementSystem.Pages.Organizer.ViewEventModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        @{
            foreach (var e in Model.Events)
            {
                <br />
                <br />
                <h1 class="font centertxt bigtxt">@e.EventName</h1>
                <p class="centertxt">@e.StartDate.ToString("MM/dd/yyyy") - @e.EndDate.ToString("MM/dd/yyyy")</p>
                <p class="font centertxt">@e.SpaceName</p>
                if (Model.RegisterCount.Capacity > 0)
                {
                    <p class="centertxt"><u><b>@Model.RegisterCount.Capacity Attending</b></u></p>
                }
                <br />
                <div style="text-align: center">
                    <a asp-page="/Organizer/EditEvent" class=" btn widebutton btn-dark" asp-route-eventid="@e.EventID">Edit</a>
                    <br />
                    <br />
                    <a asp-page="/Organizer/ParticipantList" class=" btn widebutton btn-dark" asp-route-eventid="@e.EventID">View Participants</a>
                    <a asp-page="/Organizer/ViewCheckIn" class=" btn widebutton btn-dark" asp-route-eventid="@e.EventID">View Check In List</a>
                </div>
                <br />
                <hr />
                <br />
                <div class="shdwbox">
                    <p class="centertxt">@e.EventDescription</p>
                </div>
                <br />
                <hr />
                <br />
                <h2 class="font centertxt bigtxt">Subevents</h2>
                <br />
                <div class="row">
                @foreach (var s in Model.Subevents)
                {
                    <!-- Button trigger modal -->
                    <div class="col-md-4">
                        <div class="shdwbox subsubcontainer">
                            <p class="font centertxt">@s.EventName</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn widebutton-flex btn-dark" data-bs-toggle="modal" data-bs-target=@("#ViewDetails" + s.EventID)>
                                View Details
                            </button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id=@("ViewDetails" + s.EventID) tabindex="-1" aria-labelledby="ViewDetailsLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="purpletxt font" id="ViewDetailsLabel">Event Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="wrapper purpletxt font">
                                    <h3>@s.EventName</h3>
                                    Date: @s.StartDate.ToString("MM/dd/yyyy") |
                                    Time: @s.StartDate.ToString("hh:mm")
                                    <br />
                                    @s.RegistrationDeadline.ToString("MM/dd/yyyy")
                                    <br />
                                    <br />
                                    @s.ParentSpaceName @s.SpaceName
                                    <br />
                                    @s.SpaceAddress
                                    <br />
                                    <br />
                                    @s.EventDescription
                                    <br />
                                    <br />
                                </div>
                                    <div class="modal-footer">
                                        <a asp-page="/Organizer/EditEvent" class="btn rndbtn btn-dark" asp-route-eventid="@s.EventID">Add Subevent</a>
                                        <a asp-page="/Organizer/ViewEvent" class="btn rndbtn btn-dark" asp-route-eventid="@s.EventID">View Details</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                
                }
                </div>
                <br />
            }
        }
        <a asp-page="/Organizer/Index" class="btn rndbtn btn-dark">Return</a>
    </div>
</div>