@page
@model EventManagementSystem.Pages.Organizer.ViewEventModel
@{
}

<div class="wrapper">
    @{
        foreach (var e in Model.Events)
        {
            <br />
            <br />
            <br />
            <br />
            <br />
            <p class="font">@e.StartDate.ToString("MM/dd/yyyy") - @e.EndDate.ToString("MM/dd/yyyy")</p>
            <p class="font">@e.SpaceName</p>
            <br />
            <h1 class="font">@e.EventName <a asp-page="/Organizer/EditEvent" class=" btn rndbtn btn-light" asp-route-eventid="@e.EventID">Edit :)</a> </h1>
            <br />
            <p class="font">@e.EventDescription</p>
            <br />


            <h3 class="font">Subevents</h3>

            <hr />

            foreach (var s in Model.Subevents)
            {
                <p class="font">@s.EventName</p>
            }
            <br />
        }
    }
</div>