@page
@model EventManagementSystem.Pages.Attendee.IndexModel
@{
}

<div class="wrapper">
    <br />
    <h2 class="display-6 font centertxt">Welcome</h2>
    <h2 class="display-6 font centertxt">@Model.FullName</h2>
    <br />
    <hr />
    <br />
    <h3 class="font centertxt">Team: @Model.TeamName</h3>
    <p class="centertxt">Want to sign up / change teams? Click <a href="/Attendee/TeamSignUp">here</a></p>
    <br />
    <hr />
    <h2 class="font">Your scheduled events:</h2>
    <br />
    <form method="post" asp-page="Index">
        <input type="text" asp-for="InputString" placeholder="Search Events" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
        &emsp;<button type="submit" class="btn btn-light">Search</button>
    </form>
    <br />

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Event Name:</th>
                <th>Event Description:</th>
                <th>Start Date:</th>
                <th>End Date:</th>
                <th>Location:</th>
                <th>View Schedule</th>
                <th>Cancel Registration:</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            @{
                foreach (var record in Model.Events)
                {
                    <tr>
                        <td><b>@record.EventName</b></td>
                        <td>@record.EventDescription</td>
                        <td>@record.StartDate</td>
                        <td>@record.EndDate</td>
                        <td>@record.SpaceID</td>
                        <td>
                            <a asp-page="AttendeeSignUp/Schedule" class=" btn rndbtn btn-light" asp-route-eventid="@record.EventID">View Schedule</a>
                        </td>
                        <td>
                            <a asp-page="AttendeeSignUp/Cancel" class="btn rndbtn btn-warning" asp-route-eventid="@record.EventID">Cancel Registration</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />

    <a class="btn rndbtn btn-light" href="/Attendee/AttendeeSignUp">Sign up for an event</a>
</div>