@page
@model EventManagementSystem.Pages.Attendee.IndexModel
@{
}

<!-- This code was designed and implemented by Steven Roenker and Devin Vicchio -->

<h1 class="display-6">Welcome, @Model.FullName</h1>
<br /><br />
<h4>Your scheduled programs:</h4>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Event Name:</th>
            <th>Event Description:</th>
            <th>Event Location:</th>
            <th>Activity Name:</th>
            <th>Activity Description:</th>
            <th>Date and Time:</th>
            <th>Room Name:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var record in Model.attendeeSchedules)
            {
                <tr>
                    <td>@record.EventName</td>
                    <td>@record.EventDescription</td>
                    <td>@record.EventLocation</td>
                    <td>@record.ActivityName</td>
                    <td>@record.ActivityDescription</td>
                    <td>@record.DateAndTime</td>
                    <td>@record.RoomName</td>
                    <td>
                        <a asp-page="AttendeeSignUp/Cancel" class="btn btn-outline-danger" asp-route-activityid="@record.ActivityID">Cancel</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />

<a class="btn btn-outline-light" href="/Attendee/AttendeeSignUp">Sign up for an activity</a>
