@page
@model EventManagementSystem.Pages.Attendee.IndexModel
@{
}

<h1 class="display-6">Welcome @HttpContext.Session.GetString("RoleType"),</h1>
<h2 class="display-6">@Model.FullName</h2>
<br />
<h4>You are currently on team: @Model.TeamName</h4>
<h6>Want to sign up / change teams? Click <a href="/Attendee/TeamSignUp">here</a></h6>
<br />
<h4>Your scheduled events:</h4>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Event Name:</th>
            <th>Event Description:</th>
            <th>Start Date:</th>
            <th>End Date:</th>
            <th>Registration Deadline:</th>
            <th>Building Name:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var record in Model.Events)
            {
                <tr>
                    <td>@record.EventName</td>
                    <td>@record.EventDescription</td>
                    <td>@record.StartDate</td>
                    <td>@record.EndDate</td>
                    <td>@record.RegistrationDeadline</td>
                    <td>@record.BuildingName</td>
                    <td>
                        <a asp-page="/Attendee/AttendeeSignUp/Cancel" class="btn btn-outline-danger" asp-route-eventid="@record.EventID">Cancel Attendance</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />

<a class="btn btn-outline-light" href="/Attendee/AttendeeSignUp">Sign up for an event</a>
