@page
@model EventManagementSystem.Pages.Attendee.ViewEventModel
@{
}

<div class="wrapper">
    @{
        foreach (var e in Model.Events)
        {
            <br />
            <br />
            <br />
            <br />
            <br />
            <p class="font">@e.StartDate.ToString("MM/dd/yyyy") - @e.EndDate.ToString("MM/dd/yyyy")</p>
            <p class="font">@e.SpaceName</p>
            <br />
            <h1 class="font">@e.EventName </h1>
            <br />
            <p class="font">@e.EventDescription</p>
            <br />


            <h3 class="font">Subevents</h3>

            <hr />

            foreach (var s in Model.Subevents)
            {
                <p class="font">
                    @s.EventName

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ViewDetails">
                        View Details
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="ViewDetails" tabindex="-1" aria-labelledby="ViewDetailsLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="purpletxt font" id="ViewDetailsLabel">Event Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="wrapper purpletxt font">
                                    <h3>@s.EventName</h3>
                                    Date: @s.StartDate.ToString("MM/dd/yyyy") |
                                    Time: @s.StartDate.ToString("hh:mm tt") - @s.EndDate.ToString("hh:mm tt")
                                    <br />
                                    Registration Deadline: @s.RegistrationDeadline.ToString("MM/dd/yyyy")
                                    <br />
                                    <br />
                                    @s.ParentSpaceName @s.SpaceName
                                    <br />
                                    @s.SpaceAddress
                                    <br />
                                    <br />
                                    @s.EventDescription
                                    <br />
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            }
            <br />
        }
    }
</div>