@page
@model EventManagementSystem.Pages.Attendee.ViewEventModel
@{
}

<div class="wrapper">
    <br/>
    <div class="whitebox purpletxt">
        @{
            foreach (var e in Model.Events)
            {
                @if (e.ParentEventID != "")
                {
                    foreach (var parent1 in Model.Subevent4)
                    {
                        if (parent1.ParentEventID == "")
                        {
                            @parent1.EventName <span> / </span>
                        }
                    }
                    foreach (var parent1 in Model.Subevent3)
                    {
                        if (parent1.ParentEventID == "")
                        {
                            @parent1.EventName <span> / </span>
                        }
                    }
                    foreach (var parent1 in Model.Subevent2)
                    {
                        if (parent1.ParentEventID == "")
                        {
                            @parent1.EventName <span> / </span>
                        }
                    }
                    foreach (var parent1 in Model.Subevent1)
                    {
                        if (parent1.ParentEventID == "")
                        {
                            @parent1.EventName <span> / </span>
                        }                        
                    }
                }
                //1 layer deep hardcoded
                @if (e.ParentEventID != "")
                {
                    foreach (var parent1 in Model.Subevent4)
                    {
                        if (parent1.ParentEventID != "")
                        {
                            @parent1.EventName <span> / </span>
                        }
                    }
                    foreach (var parent1 in Model.Subevent3)
                    {
                        if (parent1.ParentEventID != "")
                        {
                            @parent1.EventName <span> / </span>
                        }
                    }
                    foreach (var parent1 in Model.Subevent2)
                    {
                        if (parent1.ParentEventID != "")
                        {
                            @parent1.EventName <span> / </span>
                        }
                    }
                    foreach (var parent1 in Model.Subevent1)
                    {
                        if (parent1.ParentEventID != "")
                        {
                            @parent1.EventName <span> / </span>
                        }
                    }
                    <b>@e.EventName</b>
                }
                //2 layers deep hardcoded
                <br />
                <br />
                <h1 class="font centertxt bigtxt">@e.EventName</h1>
                <p class="centertxt">@e.StartDate.ToString("MM/dd/yyyy") - @e.EndDate.ToString("MM/dd/yyyy")</p>
                <p class="font centertxt">@e.SpaceName</p>
                if (Model.RegisterCount.Capacity == 1)
                {
                    <p class="centertxt"><u><b>@Model.RegisterCount.Capacity Person Interested</b></u></p>
                }
                if (Model.RegisterCount.Capacity > 1)
                {
                    <p class="centertxt"><u><b>@Model.RegisterCount.Capacity People Interested</b></u></p>
                }
                <hr />
                <br />
                <div class="shdwbox">
                    <p class="centertxt">@e.EventDescription</p>
                </div>
                <br />
                <hr />
                <br />
                <ul class="font centertxt nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <form method="post" asp-page="/Attendee/ViewEvent" asp-page-handler="Schedule">
                            <button type="submit" class="btn widebutton-flex btn-dark">Schedule</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form method="post" asp-page="/Attendee/ViewEvent" asp-page-handler="Location">
                            <button type="submit" class="btn widebutton-flex btn-dark">Location</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form method="post" asp-page="/Attendee/ViewEvent" asp-page-handler="Organizers">
                            <button type="submit" class="btn widebutton-flex btn-dark">Organizers</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form method="post" asp-page="/Attendee/ViewEvent" asp-page-handler="Amenities">
                            <button type="submit" class="btn widebutton-flex btn-dark">Amenities</button>
                        </form>
                    </li>
                </ul>
                <br />
                //Subevents post request
                <div class="row">
                @foreach (var s in Model.Subevents)
                {
                    <!-- Button trigger modal -->
                    <div class="col-md-4">
                        <div class="subsubcontainer" data-bs-toggle="modal" data-bs-target=@("#ViewDetails" + s.EventID)>
                             <div class="font" style="display: flex; align-items: center;">
                                 <div class="circle">@s.StartDate.ToString("MM/dd") <br /> @s.StartDate.ToString("hh:mm") <br /> @s.StartDate.ToString("tt")</div>
                                 <p style="margin: auto;" class="centertxt">@s.EventName</p>
                             </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id=@("ViewDetails" + s.EventID) tabindex="-1" aria-labelledby="ViewDetailsLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="purpletxt font" id="ViewDetailsLabel">Event Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="wrapper purpletxt font">
                                        <br/>
                                        <h3>@s.EventName</h3>
                                        Date: @s.StartDate.ToString("MM/dd/yyyy") |
                                        Time: @s.StartDate.ToString("hh:mm")
                                        <br />
                                        Registration Deadline: @s.RegistrationDeadline.ToString("MM/dd/yyyy")
                                        <br />
                                        <br />
                                        @s.ParentSpaceName @s.SpaceName
                                        <br />
                                        <br/>
                                        @s.SpaceAddress
                                        <br />
                                        <br />
                                        @s.EventDescription
                                        <br />
                                        <br />
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-page="/Attendee/AttendeeSignUp/ActivitySignUpMore" class="btn rndbtn2 btn-dark" asp-route-eventid="@s.EventID">Register For Subevents at @s.EventName</a>
                                        <a asp-page="/Attendee/ViewEvent" class="btn rndbtn2 btn-dark" asp-route-eventid="@s.EventID">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>

                //Location Post Request
                @foreach (var s in Model.Locations)
                {
                    <div class="font centertxt">
                        <h2>@s.SpaceName</h2>
                        <br/>
                        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d657.0251957945642!2d-78.87351584307049!3d38.43324177921034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b492e62b400047%3A0x652d69dd5f1e16b8!2sJames%20Madison%20University%20College%20of%20Business!5e0!3m2!1sen!2sus!4v1701449657978!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                }

                //Amenity Post Request
                @foreach (var s in Model.AmenityList)
                {
                    <div class="centertxt">
                        <br/>
                        <h3 class="font">@s.Name</h3>
                        <div class="shdwbox">
                            @s.Description
                            <br />
                            <a href="@s.URL">@s.URL</a>
                        </div>
                    </div>
                }
            }
            <a asp-page="Index" class="btn rndbtn2 btn-dark">Cancel</a>
        }
    </div>
</div>