@page "{RoomID}"
@model EventManagementSystem.Pages.Rooms.EditRoomModel
@{
    ViewData["Title"] = "Edit Room";
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Edit Room Data</h2>
    <br />
    <hr />
    <br />
    <p class="notetxt">NOTE: The "BuildingName" field must be left blank if no Building change is desired. Otherwise, select a building from the dropdown.</p>
    <br />
    <div class="newlogbox">
        <form asp-page="EditRoom">
            <input type="hidden" asp-for="@Model.RoomToUpdate.RoomID" />
            <label asp-for="@Model.RoomToUpdate.RoomNumber">- Room Number -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.RoomToUpdate.RoomNumber" required />
            <br />
            <label asp-for="@Model.RoomToUpdate.Capacity">- Capacity -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.RoomToUpdate.Capacity" required />
            <br />
            <label asp-for="@Model.RoomToUpdate.BuildingName">- Building -</label>
            <br />
            <select asp-for="@Model.RoomToUpdate.BuildingName" class="newlogfield" asp-items="Model.Buildings">
                <option value=""></option>
            </select>
            <br />
            <input type="submit" value="Submit" class="btn rndbtn btn-light" asp-page="EditRoom" />
            <a asp-page="AdminRoom" class="btn rndbtn btn-light">Cancel</a>
        </form>
    </div>
</div>
