@page
@model EventManagementSystem.Pages.Rooms.NewRoomModel
@{
    ViewData["Title"] = "New Room";
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Enter New Room Data</h2>
    <br />
    <hr />
    <br />
    <div class="newlogbox">
        <form asp-page="NewActivity">
            <input type="hidden" asp-for="@Model.RoomToCreate.RoomID" />
            <label asp-for="@Model.RoomToCreate.RoomNumber">- Room Number -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.RoomToCreate.RoomNumber" id="RoomNumber" required />
            <br />
            <label asp-for="@Model.RoomToCreate.Capacity">- Capacity -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.RoomToCreate.Capacity" id="Capacity" required />
            <br />
            <label asp-for="@Model.RoomToCreate.BuildingName">- Building -</label>
            <br />
            <select asp-for="@Model.RoomToCreate.BuildingName" class="newlogfield" asp-items="Model.Buildings" required>
                <option value=""></option>
            </select>
            <br />
            <button type="button" onclick="populateForm()" class="btn rndbtn btn-light">Populate</button>
            <button type="button" onclick="clearForm()" class="btn rndbtn btn-light">Clear</button>
            <input type="submit" value="Submit" class="btn rndbtn btn-light" asp-page="NewRoom" />
            <a asp-page="AdminRoom" class="btn rndbtn btn-light">Cancel</a>
        </form>
    </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("RoomNumber").value = "110";
        document.getElementById("Capacity").value = "31";
        document.getElementById("BuildingID").value = "1";
    }

    function clearForm() {
        document.getElementById("RoomNumber").value = "";
        document.getElementById("Capacity").value = "";
        document.getElementById("BuildingID").value = "";
    }
</script>
