@page
@model EventManagementSystem.Pages.Rooms.RoomAssociationsModel
@{
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Space Assignments:</h2>
    <br />
    <hr />  
    <br />
    <form method="post" asp-page="RoomAssociations">
        <input type="text" class="searchbar" asp-for="InputString" placeholder="Search Events" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
        &emsp;<button type="submit" class="btn rndbtn btn-light">Search</button>
    </form>
    <br />
    <div class="shdwbox">
        <div class="table-responsive card">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Space Name:</th>
                        <th>Event Name:</th>
                        <th>Address:</th>
                        <th>Capacity:</th>
                        <th>Date:</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var space in Model.Spaces)
                        {
                            <tr class="table-secondary">
                                <td><b>@space.SpaceName</b></td>
                                <td>@space.EventName</td>
                                <td>@space.Address</td>
                                <td>@space.Capacity</td>
                                <td>@space.EventDate.ToString("MM/dd/yyyy")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <a asp-page="AdminRoom" class="btn rndbtn btn-light">Back</a>
</div>