@page "{LocationID}"
@model EventManagementSystem.Pages.Locations.Amenities.IndexModel
@{
    ViewData["Title"] = "Amenities for Location";
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font">All Amenities for @Model.City, @Model.State</h2>
        <br />
        <form method="post" asp-page="Amenities/Index">
            <input type="text" class="searchbar" asp-for="InputString" placeholder="Search Events" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
           <button type="submit" class="btn srchbtn btn-dark">Search</button>
        </form>
        <br />
        <div class="shdwbox">
            <div class="table-responsive card">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Description:</th>
                            <th>Type:</th>
                            <th>URL:</th>
                            <th>Edit:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var amenity in Model.Amenities)
                            {
                                <tr class="table-secondary">
                                    <td><b>@amenity.Name</b></td>
                                    <td>@amenity.Description</td>
                                    <td>@amenity.Type</td>
                                    <td>@amenity.URL</td>
                                    <td>
                                        <a asp-page="EditAmenity" class="btn rndbtn btn-dark" asp-route-amenityid="@amenity.AmenityID">Edit</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <a asp-page="NewAmenity" class="btn rndbtn btn-dark" asp-route-locationid="@Model.Location.LocationID">Create a new amenity for this location</a>
        <a asp-page="../Index" class="btn rndbtn btn-dark">Cancel</a>
    </div>
</div>
