@page
@model EventManagementSystem.Pages.Login.NewUserModel
@{
    ViewData["Title"] = "New User";
}

<div class="wrapper">
    <br />
    <div class="newlogbox">
        <form asp-page="NewUser">
            <input type="hidden" asp-for="@Model.UserToCreate.UserID" />
            <label asp-for="@Model.UserToCreate.FirstName">- First Name -</label>
            <input type="text" asp-for="@Model.UserToCreate.FirstName" id="FirstName" class="newlogfield" required />
            <br />
            <label asp-for="@Model.UserToCreate.LastName">- Last Name -</label>
            <input type="text" asp-for="@Model.UserToCreate.LastName" id="LastName" class="newlogfield"  required />
            <br />
            <label asp-for="@Model.UserToCreate.Username">- Username -</label>
            <input type="text" asp-for="@Model.UserToCreate.Username" id="Username" class="newlogfield" required />
            <br />
            <label asp-for="@Model.UserToCreate.UserPassword">- Password -</label>
            <input type="text" asp-for="@Model.UserToCreate.UserPassword" id="Password" class="newlogfield" required />
            <br />
            <label asp-for="@Model.UserToCreate.Email">- Email -</label>
            <input type="text" asp-for="@Model.UserToCreate.Email" id="Email" class="newlogfield" />
            <br />
            <label asp-for="@Model.UserToCreate.PhoneNumber">- Phone -</label>
            <input type="text" asp-for="@Model.UserToCreate.PhoneNumber" id="PhoneNumber" class="newlogfield" />
            <br /><br />
            <button type="button" class="btn btn-secondary" onclick="populateForm()">Populate</button>
            <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
            <input type="submit" class="btn btn-success" id="textfield" asp-page="NewUser" />
            <a asp-page="../Index" class="btn btn-secondary" id="textfield">Cancel</a>
    </form>
    </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("FirstName").value = "Joe";
        document.getElementById("LastName").value = "White";
        document.getElementById("Username").value = "username123";
        document.getElementById("Password").value = "Password321";
        document.getElementById("Email").value = "JoeWhite032@gmail.com";
        document.getElementById("PhoneNumber").value = "804-784-8663";
    }

    function clearForm() {
        document.getElementById("FirstName").value = "";
        document.getElementById("LastName").value = "";
        document.getElementById("Username").value = "";
        document.getElementById("Password").value = "";
        document.getElementById("Email").value = "";
        document.getElementById("PhoneNumber").value = "";
    }
</script>


