@page
@model EventManagementSystem.Pages.Login.NewUserModel
@{
    ViewData["Title"] = "New User";
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font centertxt">Please Enter Your Information</h2>
        <p class="font centertxt">Eventra promises to never share your data with anyone</p>
        @{
            if (HttpContext.Session.GetString("IsTaken") == "yes")
            {
                <p class="font text-danger centertxt">@ViewData["temp"]</p>
            }
        }
        <br />
        <hr />
        <br />
        <div class="newlogbox">
            <form asp-page="NewUser">
                <div class="row">
                    <div class="col-md-6"> 
                        <input type="hidden" asp-for="@Model.UserToCreate.UserID" />
                        <label asp-for="@Model.UserToCreate.FirstName">- First Name -</label>
                        <input type="text" asp-for="@Model.UserToCreate.FirstName" id="FirstName" class="newlogfield" required />
                        <br />
                        <label asp-for="@Model.UserToCreate.LastName">- Last Name -</label>
                        <input type="text" asp-for="@Model.UserToCreate.LastName" id="LastName" class="newlogfield"  required />
                        <br />
                        <label asp-for="@Model.UserToCreate.Username">- Username -</label>
                        <input type="text" asp-for="@Model.UserToCreate.Username" id="Username" class="newlogfield" required />
                        <br />
                        <label asp-for="@Model.UserToCreate.UserPassword">- Password -</label>
                        <input type="password" asp-for="@Model.UserToCreate.UserPassword" id="Password" class="newlogfield" required />
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.UserToCreate.Email">- Email -</label>
                        <input type="text" asp-for="@Model.UserToCreate.Email" id="Email" class="newlogfield" />
                        <br />
                        <label asp-for="@Model.UserToCreate.PhoneNumber">- Phone -</label>
                        <input type="text" asp-for="@Model.UserToCreate.PhoneNumber" id="PhoneNumber" class="newlogfield" />
                        <br />
                        <label asp-for="@Model.UserToCreate.AllergyID">- Relevant Food Allergies -</label>
                        <br />
                        <select asp-for="@Model.UserToCreate.AllergyID" class="newlogfield" asp-items="Model.Allergies">
                            <option value=""></option>
                        </select>
                    <br />
                    <label asp-for="@Model.UserToCreate.Accomodation">- Extra Accommodations -</label>
                    <input type="text" asp-for="@Model.UserToCreate.Accomodation" id="Accessibility" class="newlogfield" />
                    </div>
                </div>
                <br />
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn rndbtn2 btn-dark" onclick="populateMikeForm()">Populate Mike</button>
                    <button type="button" class="btn rndbtn2 btn-dark" onclick="clearForm()">Clear</button>
                    <input value="Create" type="submit" class="btn rndbtn2 btn-dark" id="textfield" asp-page="NewUser" />
                    <a asp-page="./Index" class="btn rndbtn2 btn-dark" id="textfield">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateMikeForm() {
        document.getElementById("FirstName").value = "Mike";
        document.getElementById("LastName").value = "West";
        document.getElementById("Username").value = "mwest";
        document.getElementById("Password").value = "pass";
        document.getElementById("Email").value = "MikeWest@example.com";
        document.getElementById("PhoneNumber").value = "123-456-7890";
    }

    function clearForm() {
        document.getElementById("FirstName").value = "";
        document.getElementById("LastName").value = "";
        document.getElementById("Username").value = "";
        document.getElementById("Password").value = "";
        document.getElementById("Email").value = "";
        document.getElementById("PhoneNumber").value = "";
    }
</script>


