@page
@model EventManagementSystem.Pages.Login.NewUserModel
@{
    ViewData["Title"] = "New User";
}

<div class="wrapper">
        <br />
        <h2 class="font centertxt">Please Enter Your Information</h2>
        <br />
        <div class="newlogbox">
            <form asp-page="NewUser">
                <input type="hidden" asp-for="@Model.UserToCreate.UserID" />
                <label asp-for="@Model.UserToCreate.FirstName">- First Name -</label>
                <input type="text" asp-for="@Model.UserToCreate.FirstName" id="FirstName" class="newlogfield" required />
                <br />
                <label asp-for="@Model.UserToCreate.LastName">- Last Name -</label>
                <input type="text" asp-for="@Model.UserToCreate.LastName" id="LastName" class="newlogfield"  required />
                <br />
                <label asp-for="@Model.UserToCreate.Username">- Username -</label>
                <input type="text" asp-for="@Model.UserToCreate.Username" id="Username" class="newlogfield" required />
                <br />
                <label asp-for="@Model.UserToCreate.UserPassword">- Password -</label>
                <input type="password" asp-for="@Model.UserToCreate.UserPassword" id="Password" class="newlogfield" required />
                <br />
                <label asp-for="@Model.UserToCreate.Email">- Email -</label>
                <input type="text" asp-for="@Model.UserToCreate.Email" id="Email" class="newlogfield" />
                <br />
                <label asp-for="@Model.UserToCreate.PhoneNumber">- Phone -</label>
                <input type="text" asp-for="@Model.UserToCreate.PhoneNumber" id="PhoneNumber" class="newlogfield" />
                <br />
                <label asp-for="@Model.UserToCreate.AllergyID">- Relevant Allergies -</label>
                <input type="text" asp-for="@Model.UserToCreate.AllergyID" id="AllergyNote" class="newlogfield" />
                <br />
            <label asp-for="@Model.UserToCreate.Accomodation">- Accommodations -</label>
                <input type="text" asp-for="@Model.UserToCreate.Accomodation" id="Accessibility" class="newlogfield" />
                <br /><br />
                <button type="button" class="btn btn-light" onclick="populateForm()">Populate</button>
                <button type="button" class="btn btn-light" onclick="clearForm()">Clear</button>
                <input value="Create Account" type="submit" class="btn btn-light" id="textfield" asp-page="NewUser" />
                <a asp-page="../Index" class="btn btn-light" id="textfield">Cancel</a>
            </form>
        </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("FirstName").value = "Don";
        document.getElementById("LastName").value = "Collins";
        document.getElementById("Username").value = "testusername";
        document.getElementById("Password").value = "testpassword";
        document.getElementById("Email").value = "DonCollins@gmail.com";
        document.getElementById("PhoneNumber").value = "123-456-7890";
    }

    function clearForm() {
        document.getElementById("FirstName").value = "";
        document.getElementById("LastName").value = "";
        document.getElementById("Username").value = "";
        document.getElementById("Password").value = "";
        document.getElementById("Email").value = "";
        document.getElementById("PhoneNumber").value = "";
    }
</script>


