@page
@model EventManagementSystem.Pages.Attendee.AttendeeSignUp.ActivitySignUpMoreModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font">Available Subevents at @Model.ParentEvent.EventName:</h2>
        <br />
        <form method="post" asp-page="ActivitySignUpMore" asp-page-handler="Search">
            <input type="text" class="searchbar" asp-for="InputString" placeholder="Search Events" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
           <button type="submit" class="btn srchbtn btn-dark">Search</button>
        </form>
        <br />
        <form method="post" class="table-secondary" asp-page="ActivitySignUpMore" asp-page-handler="Register">
            <div class="shdwbox">
                <div class="table-responsive card">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Event Name:</th>
                                <th>Event Description:</th>
                                <th>Start Date:</th>
                                <th>End Date:</th>
                                <th>Registration Deadline:</th>
                                <th>Location:</th>
                                <th>Sign Up:</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary">

                            @{
                                foreach (var record in Model.Events)
                                {
                                    <tr>
                                        <td><b>@record.EventName</b></td>
                                        <td>@record.EventDescription</td>
                                        <td>@record.StartDate.ToString("MM/dd/yyyy")</td>
                                        <td>@record.EndDate.ToString("MM/dd/yyyy")</td>
                                        <td>@record.RegistrationDeadline.ToString("MM/dd/yyyy")</td>
                                        <td>@record.SpaceID</td>
                                        <td>
                                            <input type="hidden" name="EventID" value="@record.EventID" />
                                            <input name="Checked" type="checkbox" style="transform: scale(2)" value="@record.EventID" />
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <input type="submit" value="Sign Up" class="btn rndbtn btn-dark" style="float: left; margin-right: 10px"/>
            <a asp-page="/Attendee/AttendeeSignUp/Schedule" asp-route-eventid="@Model.HttpContext.Session.GetInt32("EventInt")" class="btn rndbtn btn-dark" style="float: left">Cancel</a>
        </form>
        <br />
    </div>
</div>