@page
@model EventManagementSystem.Pages.Attendee.AttendeeSignUp.ActivitySignUpModel
@{
}

<div class="wrapper">
    <br />
    <h2 class="font">Available Subevents at @Model.ParentEvent.EventName:</h2>
    <br />
    <form method="post" asp-page="ActivitySignUp" asp-page-handler="Search">
        <input type="text" asp-for="InputString" placeholder="Search Events" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
        &emsp;<button type="submit" class="btn btn-light">Search</button>
    </form>
    <br />
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Event Name:</th>
                <th>Event Description:</th>
                <th>Start Date:</th>
                <th>End Date:</th>
                <th>Registration Deadline:</th>
                <th>Location:</th>
                <th>Sign Up:</th>
            </tr>
        </thead>
        <form method="post" asp-page-handler="Register" class="table-secondary">
            @{
                foreach (var record in Model.Events)
                {
                    <tr>
                        <td><b>@record.EventName</b></td>
                        <td>@record.EventDescription</td>
                        <td>@record.StartDate</td>
                        <td>@record.EndDate</td>
                        <td>@record.RegistrationDeadline</td>
                        <td>@record.SpaceName</td>
                        <td>
                            <input type="hidden" name="EventID" value="@record.EventID" />
                            <input name="Checked" type="checkbox" value="@record.EventID" />
                        </td>
                    </tr>
                }
            }
        <input type="submit" value="Register" class="btn rndbtn btn-light" />
        </form>
    </table>

    <br />

    <a asp-page="../Index" class="btn rndbtn btn-secondary">Cancel</a>
</div>