@page
@model EventManagementSystem.Pages.Attendee.AttendeeSignUp.IndexModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font">Available Events</h2>
        <br />
        <form method="post" asp-page="Index" asp-page-handler="Search">
            <input type="text" class="searchbar" asp-for="InputString" placeholder="Search Events" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
           <button type="submit" class="btn srchbtn btn-dark">Search</button>
        </form>
        <br />
        <div class="shdwbox">
            <div class="table-responsive card">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Event Name:</th>
                            <th>Start Date:</th>
                            <th>End Date:</th>
                            <th>Registration Deadline:</th>
                            <th>Location:</th>
                            <th>Registration:</th>
                        </tr>
                    </thead>
                    <tbody class="table-secondary">
                        @{
                            foreach (var record in Model.Events)
                            {
                                <tr>
                                    <td><b>@record.EventName</b></td>
                                    <td>@record.StartDate.ToString("MM/dd/yyyy")</td>
                                    <td>@record.EndDate.ToString("MM/dd/yyyy")</td>
                                    <td>@record.RegistrationDeadline.ToString("MM/dd/yyyy")</td>
                                    <td>@record.SpaceID</td>
                                    <td>
                                        <a asp-page="ViewEvent" class="btn rndbtn btn-dark" asp-route-eventid="@record.EventID">Register</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <a asp-page="../Index" class="btn rndbtn btn-dark">Cancel</a>
    </div>
</div>