@page
@model EventManagementSystem.Pages.Events.AdminEventModel
@{
}

<h2>All Events</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Event Name:</th>
            <th>Event Description:</th>
            <th>Event Date:</th>
            <th>Event Start Time:</th>
            <th>Event End Time:</th>
            <th>Registration Deadline:</th>
            <th>Capacity:</th>
            <th>Status:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var event1 in Model.Events)
            {
                <tr class="table-secondary">
                    <td>@event1.EventName</td>
                    <td>@event1.EventDescription</td>
                    <td>@event1.StartDate.ToShortDateString</td>
                    <td>@event1.EndDate.ToShortDateString</td>
                    <td>@event1.RegistrationDeadline.ToShortDateString</td>
                    <td>@event1.Capacity</td>
                    <td>@event1.Status</td>
                    <td>
                        <a asp-page="EditEvent" class="btn btn-outline-success" asp-route-eventid="@event1.EventID">Edit</a>
                    </td>
                </tr>


                /*
                if (event1.IsActive != true)
                {
                    <tr class="table-secondary">
                        <td>@event1.EventName</td>
                        <td>@event1.EventDescription</td>
                        <td>@event1.StartDate</td>
                        <td>@event1.EndDate</td>
                        <td>@event1.EventLocation</td>
                        <td>@event1.IsActive</td>
                        <td>
                            <a asp-page="EditEvent" class="btn btn-outline-success" asp-route-eventid="@event1.EventID">Edit</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@event1.EventName</td>
                        <td>@event1.EventDescription</td>
                        <td>@event1.StartDate</td>
                        <td>@event1.EndDate</td>
                        <td>@event1.EventLocation</td>
                        <td>@event1.IsActive</td>
                        <td>
                            <a asp-page="EditEvent" class="btn btn-outline-success" asp-route-eventid="@event1.EventID">Edit</a>
                        </td>
                        <td>
                            <a asp-page="DeleteEvent" class="btn btn-warning" asp-route-eventid="@event1.EventID">Deactivate</a>
                        </td>
                    </tr>
                } */
            }
        }
    </tbody>
</table>

<br />

<a asp-page="NewEvent" class="btn btn-light">Create New Event</a>

<br />
<br />
<br />
<br />