@page "{EventID}"
@model EventManagementSystem.Pages.Events.EditEventModel
@{
    ViewData["Title"] = "Edit Event";
}

<div class="wrapper">
    <br />
    <div class="whitebox blktxt">
        <h2 class="font centertxt">Edit Event Data</h2>
        <br />
        <hr />
        <br />
        <p class="notetxt">
            NOTE: The "Space Name" dropdown must not be selected if no space change is desired. Otherwise, select a space to host this event. @ViewData["SpaceID"]
        </p>
        <br />
        <div class="newlogbox">
            <form asp-page="EditEvents">
                <input type="hidden" asp-for="@Model.EventToUpdate.EventID" />
                <label asp-for="@Model.EventToUpdate.EventName">- Event -</label>
                <br />
                <input type="text" class="newlogfield" asp-for="@Model.EventToUpdate.EventName" required />
                <br />
                <label asp-for="@Model.EventToUpdate.EventDescription">- Description -</label>
                <br />
                <input type="text" class="newlogfield" asp-for="@Model.EventToUpdate.EventDescription" />
                <br />
                <label asp-for="@Model.EventToUpdate.StartDate">- Start Date -</label>
                <br />
                <input type="datetime-local" class="newlogfield" asp-for="@Model.EventToUpdate.StartDate" required />
                <br />
                <label asp-for="@Model.EventToUpdate.EndDate">- End Date -</label>
                <br />
                <input type="datetime-local" class="newlogfield" asp-for="@Model.EventToUpdate.EndDate" required />
                <br />
                <label asp-for="@Model.EventToUpdate.RegistrationDeadline">- Registration Deadline -</label>
                <br />
                <input type="datetime-local" class="newlogfield" asp-for="@Model.EventToUpdate.RegistrationDeadline" required />
                <br />
                <label asp-for="@Model.EventToUpdate.Capacity">- Capacity -</label>
                <br />
                <input type="text" class="newlogfield" asp-for="@Model.EventToUpdate.Capacity" required />
                <br />
                <label asp-for="@Model.EventToUpdate.EventType">- Event Type -</label>
                <br />
                <select asp-for="@Model.EventToUpdate.EventType" class="newlogfield" asp-items="Model.EventType">
                    <option value=""></option>
                </select>
                <br />
                <label asp-for="@Model.EventToUpdate.SpaceID">- Space Name -</label>
                <br />
                <select asp-for="@Model.EventToUpdate.SpaceID" class="newlogfield" asp-items="Model.Spaces">
                    <option value=""></option>
                </select>
                <br />
                <label asp-for="@Model.EventToUpdate.Status">- Event Status -</label>
                <br />
                <select asp-for="@Model.EventToUpdate.Status" class="newlogfield" asp-items="Model.EventStatus">
                    <option value=""></option>
                </select>
                <br />
                <br />
                <input type="submit" value="Save" class="btn rndbtn btn-dark" asp-page="EditEvent" />
                <a asp-page="AdminViewEvent" class="btn rndbtn btn-dark" asp-route-eventID="@Model.eventID">Cancel</a>
            </form>
        </div>
    </div>
</div>