@page "{EventID}"
@model EventManagementSystem.Pages.Events.EditEventModel
@{
    ViewData["Title"] = "Edit Event";
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Edit Event Data</h2>
    <br />
    <hr />
    <br />
    <p class="notetxt">
        NOTE: The "BuildingName" field must be left blank if no building change is desired. Otherwise, select a building to host this event.
    </p>
    <br />
    <div class="newlogbox">
        <form asp-page="EditEvents">
            <input type="hidden" asp-for="@Model.EventToUpdate.EventID" />
            <label asp-for="@Model.EventToUpdate.EventName">- Event -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.EventToUpdate.EventName" required />
            <br />
            <label asp-for="@Model.EventToUpdate.EventDescription">- Description -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.EventToUpdate.EventDescription" />
            <br />
            <label asp-for="@Model.EventToUpdate.StartDate">- Start Date -</label>
            <br />
            <input type="datetime-local" class="newlogfield" asp-for="@Model.EventToUpdate.StartDate" required />
            <br />
            <label asp-for="@Model.EventToUpdate.EndDate">- End Date -</label>
            <br />
            <input type="datetime-local" class="newlogfield" asp-for="@Model.EventToUpdate.EndDate" required />
            <br />
            <label asp-for="@Model.EventToUpdate.RegistrationDeadline">- Registration Deadline -</label>
            <br />
            <input type="datetime-local" class="newlogfield" asp-for="@Model.EventToUpdate.RegistrationDeadline" required />
            <br />
            <label asp-for="@Model.EventToUpdate.Capacity">- Capacity -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.EventToUpdate.Capacity" required />
            <br />
            <label asp-for="@Model.EventToUpdate.BuildingName">- Building Name -</label>
            <br />
            <select asp-for="@Model.EventToUpdate.BuildingName" asp-items="Model.Buildings">
                <option value=""></option>
            </select>
            <br />
            <br />
            <label asp-for="@Model.EventToUpdate.Status">- Status -</label>
            <br />
            <input type="text" asp-for="@Model.EventToUpdate.Status" required />
            <br />
            <br />
            <input type="submit" class="btn rndbtn btn-light" asp-page="EditEvent" />
            <a asp-page="AdminEvent" class="btn rndbtn btn-light">Cancel</a>
        </form>
    </div>
</div>