@page
@model EventManagementSystem.Pages.Events.IndexModel
@{
}

<h2>All Events</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Event Name:</th>
            <th>Event Description:</th>
            <th>Event Start Date:</th>
            <th>Event End Date:</th>
            <th>Registration Deadline:</th>
            <th>Event Max Capacity:</th>
            <th>Event Status:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var event1 in Model.Events)
            {
                <tr>
                    <td>@event1.EventName</td>
                    <td>@event1.EventDescription</td>
                    <td>@event1.StartDate.ToShortDateString</td>
                    <td>@event1.EndDate.ToShortDateString</td>
                    <td>@event1.RegistrationDeadline.ToShortDateString</td>
                    <td>@event1.Capacity</td>
                    <td>@event1.Status</td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />