@page
@model EventManagementSystem.Pages.Events.NewEventModel
@{
    ViewData["Title"] = "New Event";
}

<form asp-page="NewEvent">
    <input type="hidden" asp-for="@Model.EventToCreate.EventID" />
    <label asp-for="@Model.EventToCreate.EventName"></label>
    <input type="text" asp-for="@Model.EventToCreate.EventName" id="EventName" required />
    <br />
    <label asp-for="@Model.EventToCreate.EventDescription"></label>
    <input type="text" asp-for="@Model.EventToCreate.EventDescription" id="Description" />
    <br />
    <label asp-for="@Model.EventToCreate.StartDate"></label>
    <input type="datetime-local" asp-for="@Model.EventToCreate.StartDate" id="StartDate" required />
    <br />
    <label aStartDateoCreate.EventEndDateAndTime"></label>
    <input type="datetime-local" asp-for="@Model.EventToCreate.EndDate" id="EndDate" required />
    <br />
    <label asp-for="@Model.EventToCreate.Capacity"></label>
    <input type="text" asp-for="@Model.EventToCreate.Capacity" id="Capacity" required />
    <br />
    <label asp-for="@Model.EventToCreate.Status"></label>
    <input type="text" asp-for="@Model.EventToCreate.Status" id="Status" required />
    <br />
    <button type="button" onclick="populateForm()">Populate</button>
    &emsp; <!-- Tab character to separate populate and clear buttons -->
    <button type="button" onclick="clearForm()">Clear</button>
    <br /><br />
    <input type="submit" class="btn btn-success" asp-page="NewUser" />
    <a asp-page="AdminEvent" class="btn btn-secondary">Cancel</a>
</form>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("EventName").value = "COB Meet the Firms";
        document.getElementById("Description").value = "Meet some firms at JMU's COB Complex";
        document.getElementById("StartDate").value = "2023-10-10 17:00:00";
        document.getElementById("EndDate").value = "2023-10-10 22:00:00";
        document.getElementById("RegistrationDeadline").value = "2023-10-1 22:00:00";
        document.getElementById("Capacity").value = "";
        document.getElementById("Status").value = "";
    }

    function clearForm() {
        document.getElementById("EventName").value = "";
        document.getElementById("Description").value = "";
        document.getElementById("StartDate").value = "";
        document.getElementById("EndDate").value = "";
        document.getElementById("RegistrationDeadline").value = "";
        document.getElementById("Capacity").value = "";
        document.getElementById("Status").value = "";
    }
</script>
