@page
@model EventManagementSystem.Pages.Activities.NewActivityModel
@{
    ViewData["Title"] = "New Activity";
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Enter New Activity Data</h2>
    <br />
    <hr />
    <br />
    <div class="newlogbox">
        <form asp-page="NewActivity">
            <input type="hidden" asp-for="@Model.ActivityToCreate.ActivityID" />
            <label asp-for="@Model.ActivityToCreate.ActivityName">- Activity Name -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.ActivityToCreate.ActivityName" id="ActivityName" required />
            <br />
            <label asp-for="@Model.ActivityToCreate.ActivityDescription">- Description -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.ActivityToCreate.ActivityDescription" id="Description" />
            <br />
            <label asp-for="@Model.ActivityToCreate.Date">- Date -</label>
            <br />
            <input type="datetime-local" class="newlogfield" asp-for="@Model.ActivityToCreate.Date" id="Date" required />
            <br />
            <label asp-for="@Model.ActivityToCreate.StartTime">- Start Time -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.ActivityToCreate.StartTime" id="StartTime" required />
            <br />
            <label asp-for="@Model.ActivityToCreate.EndTime">- End Time -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.ActivityToCreate.EndTime" id="EndTime" required />
            <br />
            <label asp-for="@Model.ActivityToCreate.Type">- Event Type -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.ActivityToCreate.Type" id="Type" required />
            <br />
            <label asp-for="@Model.ActivityToCreate.EventName">- Event Name -</label>
            <br />
            <select asp-for="@Model.ActivityToCreate.EventName" class="newlogfield" asp-items="Model.Events" required>
                <option value=""></option>
            </select>
            <br />
            <label asp-for="@Model.ActivityToCreate.RoomNumber">- Room Number -</label>
            <br />
            <select asp-for="@Model.ActivityToCreate.RoomNumber" class="newlogfield" asp-items="Model.Rooms" required>
                <option value=""></option>
            </select>
            <br />
            <label asp-for="@Model.ActivityToCreate.Status">- Status -</label>
            <br />
            <input type="text" class="newlogfield" asp-for="@Model.ActivityToCreate.Status" id="Status" required />
            <br />
            <br />
            <button type="button" onclick="populateForm()" class="btn rndbtn btn-light">Populate</button>
            <button type="button" onclick="clearForm()" class="btn rndbtn btn-light">Clear</button>
            <input type="submit" value="Submit" class="btn rndbtn btn-light" asp-page="NewActivity" />
            <a asp-page="AdminActivity" class="btn rndbtn btn-light">Cancel</a>
        </form>
    </div>
</div>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("ActivityName").value = "Kick-Off Luncheon";
        document.getElementById("Description").value = "Grab a burger and network";
        document.getElementById("Date").value = "2023-10-10";
        document.getElementById("StartTime").value = "11:00";
        document.getElementById("EndTime").value = "12:00";
        document.getElementById("Type").value = "Luncheon";
        document.getElementById("Status").value = "Active";
        document.getElementById("EventID").value = "1";
        document.getElementById("RoomID").value = "1";
    }

    function clearForm() {
        document.getElementById("ActivityName").value = "";
        document.getElementById("Description").value = "";
        document.getElementById("Date").value = "";
        document.getElementById("StartTime").value = "";
        document.getElementById("EndTime").value = "";
        document.getElementById("Type").value = "";
        document.getElementById("Status").value = "";
        document.getElementById("EventID").value = "";
        document.getElementById("RoomID").value = "";
    }
</script>
