@page
@model EventManagementSystem.Pages.Activities.NewActivityModel
@{
    ViewData["Title"] = "New Activity";
}

<form asp-page="NewActivity">
    <input type="hidden" asp-for="@Model.ActivityToCreate.ActivityID" />
    <label asp-for="@Model.ActivityToCreate.ActivityName"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.ActivityName" id="ActivityName" required />
    <br />
    <label asp-for="@Model.ActivityToCreate.ActivityDescription"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.ActivityDescription" id="Description" />
    <br />
    <label asp-for="@Model.ActivityToCreate.Date"></label>
    <input type="datetime-local" asp-for="@Model.ActivityToCreate.Date" id="Date" required />
    <br />
    <label asp-for="@Model.ActivityToCreate.StartTime"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.StartTime" id="StartTime" required />
    <br />
    <label asp-for="@Model.ActivityToCreate.EndTime"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.EndTime" id="EndTime" required />
    <br />
    <label asp-for="@Model.ActivityToCreate.Type"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.Type" id="Type" required />
    <br />
    <label asp-for="@Model.ActivityToCreate.Status"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.Status" id="Status" required />
    <br />
    <label asp-for="@Model.ActivityToCreate.EventID"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.EventID" id="EventID" required />
    <br />
    <label asp-for="@Model.ActivityToCreate.RoomID"></label>
    <input type="text" asp-for="@Model.ActivityToCreate.RoomID" id="RoomID" required />
    <br />
    <br />
    <button type="button" onclick="populateForm()">Populate</button>
    &emsp; <!-- Tab character to separate populate and clear buttons -->
    <button type="button" onclick="clearForm()">Clear</button>
    <br /><br />
    <input type="submit" class="btn btn-success" asp-page="NewActivity" />
    <a asp-page="AdminActivity" class="btn btn-secondary">Cancel</a>
</form>

<script>
    // links to the Populate button, which populates all fields but DOES NOT send a post request
    function populateForm() {
        document.getElementById("ActivityName").value = "Kick-Off Luncheon";
        document.getElementById("Description").value = "Grab a burger and network";
        document.getElementById("Date").value = "2023-10-10";
        document.getElementById("StartTime").value = "11:00";
        document.getElementById("EndTime").value = "12:00";
        document.getElementById("Type").value = "Luncheon";
        document.getElementById("Status").value = "Active";
        document.getElementById("EventID").value = "1";
        document.getElementById("RoomID").value = "1";
    }

    function clearForm() {
        document.getElementById("ActivityName").value = "";
        document.getElementById("Description").value = "";
        document.getElementById("Date").value = "";
        document.getElementById("StartTime").value = "";
        document.getElementById("EndTime").value = "";
        document.getElementById("Type").value = "";
        document.getElementById("Status").value = "";
        document.getElementById("EventID").value = "";
        document.getElementById("RoomID").value = "";
    }
</script>
